@model IEnumerable<TenantMaster>

@{ ViewData["Title"] = "Tenant Master"; }

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tenant</li>
    </ol>
</nav>
<form class="row g-3">
    <div class="col-md-12">
        <div class="col-md-12 d-grid gap-2">
            <a asp-action="Create" class="btn btn-primary">Add New</a>
        </div>

        <hr />

        <div class="row row-cols-1 row-cols-md-3">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card mb-3">
                        <img class="card-img-top" src="~/images/artist.jpg" alt="Card image cap">
                        <div class="card-body">

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h5 class="card-title">Kapil Jain</h5>
                                </li>
                                <li class="list-group-item">
                                    Monthly Rent
                                    <i class="fa fa-rupee"></i>
                                    2000
                                </li>
                                <li class="list-group-item">
                                    Rent Start Date
                                    <i class="fa fa-calendar"></i>
                                    Jun 9, 2020
                                </li>
                                <li class="list-group-item">
                                    Reading Per Unit
                                    <i class="fa fa-rupee"></i>
                                    9
                                </li>
                            </ul>

                        </div>
                        <div class="card-footer text-center">
                            <a asp-action="Delete" class="btn btn-danger">Delete</a>
                            <a asp-action="Edit" class="btn btn-primary">Update</a>
                        </div>
                    </div>
                </div>      }
        </div>

    </div>

</form>

