
@{ 
    Layout = null;
    ViewData["Title"] = "Not Authorize";
 }


<div class="row">
    <div class="col-md-6">

        <div class="text-center">
            <h1 class="display-4">Not Authorize</h1>
        </div>

    </div>
</div>

